header {
    display: flex;
    justify-content: center;
}

.container__search {
    align-items: center;
    flex-direction: column;
    background: rgb(252, 252, 252);
    justify-content: center;
    height: 500px;
    padding-left: 30px;


    span.btn {
        cursor: pointer;
        color: var(--white);
        height: 100%;
        background: $primary;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border-radius: 40px;
        width: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .search {
        box-shadow: 0 0 6px 3px #ececec;    
        padding: 20px;
        border-radius: 30px;
        margin-block-start: 30px;
        padding-inline-start: 40px;
        width: 500px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;

        input {
            border: none;
            outline: none;
            width: 400px;
        }

        > svg {
            position: absolute;
            width: 20px;
            left: 10px;
            top: 18px;
            fill: $primary;
        }
    }
}

.container__list {
    justify-content: center;

    .list__book {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        height: 250px;
        overflow: auto;
        width: 530px;
        position: absolute;

        .sticky {
            background: hsl(215.45deg 80.49% 83.92%);
            cursor: default;
            position: sticky;
            top: 0;
            width: 100%;
        }

        span {
            border-radius: .5rem;
            color: $white;
            cursor: pointer;
            display: block;
            padding: .6rem;
            text-align: center;
            width: 250px;
        }
    }
}

.Scroll__top {
    position: fixed;
    top: 0;
    width: 100%;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    border: 7px solid #ddd;
    border-radius: 50%;
    position: absolute;
    transform: rotate(45deg);
    top: 15em;
    transition: 0.2s ease;
    right: 18em;
    opacity: 0;
  }
  .loader::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 50%;
    border: 6px solid #514b82;
    animation: l18 2s infinite linear;
  }
  @keyframes l18 {
      0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
  }