@use 'color' as c;

main {
    position: relative;
}

.library {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    z-index: 4;
}

.container__cards {
    border-radius: 30px;
    flex-direction: column;
    position: relative;
    padding: 40px;
    justify-content: center;
    width: 80%;

    h2 {
        color: c.$white;
    }

    
    .container__card {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        overflow: auto;
        height: 70vh;

        figure {
            height: 220px;
            margin: 0 auto;
            overflow: hidden;
            width: 150px;
        }

        figcaption {
            text-align: center;
        }

        .card__img {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 310px;
            justify-content: space-between;
            width: 200px;
        }

        .card {
            cursor: pointer;
            &:hover {
                background: c.$primary;

                strong {
                    color: c.$white;
                }
            }
        }

        .card:not(:hover) {
            background: c.$primary-hover;
        }
    }
}

.filter {
    filter: blur(4px);
}

.filter__none {
    filter: blur(0);
} 