// Map color project

$black:          hsl(0, 0%, 0%);
$bg-card:        hsl(0, 0%, 84%);
$bg-hover:       hsl(0, 0%, 96%);
$primary:        hsl(216, 23%, 56%); //#758aa9
$primary-hover:  hsl(214, 23%, 80%);           
$text:           hsl(214, 23%, 56%); //#758ba9
$white:          hsl(0, 0%, 100%);


// scss-docs-start colors-map
$colors: (
  "black":          $black,
  "primary":        $primary,
  "primary-hover":  $primary-hover,
  "color":           $text,
  "white":          $white,
) !default;

//color txt, bg, btn-border
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  
  .bg-#{$key} {
    background: $val;
  }
  
  .btn-#{$key} {
    border: 1px solid $val;
  }

  .border-#{$key} {
    border: 1px solid $val;
  }

  .b-b_#{$key} {
    border-bottom: 1px solid $val;
  }
}