@use 'color' as c;

nav {
    align-items: center;

    figure {
        width: 200px;
    }
}

.book {
    z-index: 2;
}

.my__book {
    overflow: hidden;
    right: 20px;
    top: 8em;

    .container__book {
        background: hsl(214 23% 40% / 1);
        border-radius: 1em; 
        color: white;
        height: 310px;
        padding: 10px;
        right: -343px;
        transition: all 0.3s ease;
        width: 340px;
        z-index: 1;
    }
    
    .to__right {
        right: 0px;
    }

    .clear {
        bottom: 10px;
        right: 20px;
    }
}

.my__list-book {
    svg {
        width: 20px;
        :hover {
            fill: rgb(227, 45, 45);
        }
    }
}